body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #fff;
    padding: 40px 0;
    border-top: 1px solid #eaeaea;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1 1 300px; /* Allows the sections to shrink and grow */
    margin: 20px;
    min-width: 250px; /* Minimum width for each section */
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer-section form {
    display: flex;
    flex-direction: column;
}

.footer-section form input,
.footer-section form button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.footer-section form button {
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.footer-section form button:hover {
    background-color: #333;
}

.footer-section p {
    font-size: 12px;
    color: #777;
}

.footer-section a {
    color: #000;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #000;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-icons a {
    display: block;
    margin-top: 10px;
}

.social-icons img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #eaeaea;
    padding: 20px 0;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #777;
}

.footer-bottom img {
    height: 40px;
    margin-top: 10px;
}

/* Media Queries */
@media (max-width: 1200px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-section {
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .footer-section h3 {
        font-size: 16px;
    }
    .footer-section form input,
    .footer-section form button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .footer-section h3 {
        font-size: 14px;
    }
    .footer-section form input,
    .footer-section form button {
        font-size: 12px;
    }
    .footer-bottom p {
        font-size: 12px;
    }
    .footer-bottom img {
        height: 30px;
    }
}
